---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { contentfulClient } from '../../lib/contentful'; // Import client Contentful
import type { proyekkami } from '../../lib/contentful';
import Heropagetitle from '../../components/heropagetitle.astro';

// Ambil data proyek dari Contentful
const entries = await contentfulClient.getEntries<proyekkami>({
  content_type: 'proyekkami',
});

// Mapping data
const projects = entries.items.map((item) => {
  const { title, image } = item.fields;
  return {
    title,
    imageUrl: image?.fields?.file?.url, // Mendapatkan URL gambar dari image field
  };
});

// Daftar warna yang akan digunakan secara acak untuk bagian bawah kartu
const colors = ["bg-blue-800", "bg-purple-800", "bg-green-800", "bg-red-800", "bg-yellow-700", "bg-indigo-600", "bg-teal-700"];

// Fungsi untuk memilih warna acak
function getRandomColor() {
  return colors[Math.floor(Math.random() * colors.length)];
}

// Title dan description untuk meta
const titlemeta = "Portofolio Proyek Kami";
const descriptionmeta = "Halaman yang berisi proyek-proyek yang telah kami kerjakan.";
const pagetitle = "Portofolio";
---

<!-- Pastikan titlemeta dan descriptionmeta dikirim ke BaseLayout -->
<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <Heropagetitle pagetitle={pagetitle} />

  <div class="container mx-auto py-16 px-0 md:px-20">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-8 md:gap-14 p-5">
      <!-- Looping Card -->
      {projects.map((project) => (
        <div class="bg-white rounded-3xl overflow-hidden shadow-md hover:shadow-2xl transition-shadow transform hover:scale-105 duration-300 h-full flex flex-col hover:bg-gradient-to-r from-purple-400 via-pink-500 to-red-500">
          <!-- Gambar -->
          <img class="w-full object-cover transition-opacity duration-300 hover:opacity-75" src={project.imageUrl} alt={project.title} />
          <!-- Konten -->
          <div class={`pt-6 px-6 pb-12 text-white flex-grow flex flex-col justify-end ${getRandomColor()}`}>
            <h3 class="text-lg font-semibold mb-2">{project.title}</h3>
          </div>
        </div>
      ))}
    </div>
  </div>
  
</BaseLayout>
