---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Heropagetitle from "../../components/heropagetitle.astro";
import { Image } from "astro:assets";

const {
  titlemeta = "Fire System- Sistem Canggih dan Terjamin",
  descriptionmeta = "AMANKAN ASSET BERHARGAMU DI MASA DEPAN DENGAN KAMI AHLINYA",
  pagetitle = "Fire System",
} = Astro.props;

import InRackFireSystem from "../../assets/In-Rack Fire System.webp";
import TotalFlooding from "../../assets/Total Flooding .webp";

import Bandara from "../../assets/lokasiumum/Bandara.png";
import Bioskop from "../../assets/lokasiumum/Bioskop.png";
import BussinesCenterMall from "../../assets/lokasiumum/Bussines Center_Malll.png";
import GudangLogistik from "../../assets/lokasiumum/Gudang Logistik.png";
import Museum from "../../assets/lokasiumum/Museum.png";
import Perusahaan from "../../assets/lokasiumum/Perusahaan.png";
import Stasiun from "../../assets/lokasiumum/Stasiun.png";
import Supermarket from "../../assets/lokasiumum/Supermarket.png";
import Terminal from "../../assets/lokasiumum/Terminal.png";
import MinimPerawatan from "../../assets/minimperawatan (2).webp";
import Auto from "../../assets/auto (2).webp";
import JamProteksi from "../../assets/24jamproteksi (2).webp";
import MinimListrik from "../../assets/minim listrik (2).webp";
---

<BaseLayout titlemeta={titlemeta} descriptionmeta={descriptionmeta}>
  <Heropagetitle pagetitle={pagetitle} />
  <section class="py-16 bg-gray-100">
    <div class="container mx-auto px-6 text-center">
      <h2 class="text-3xl font-bold mb-12 text-gray-800">
        Keunggulan Sistem Fire Kami
      </h2>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8">
        <!-- Card 1 -->
        <div
          class="p-6 bg-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition-all duration-300">
          <div class="flex justify-center mb-4">
            <div
              class="w-16 h-16 bg-blue-100 text-blue-600 rounded-full flex items-center justify-center">
              <Image
                src={MinimListrik}
                alt="Minim Listrik"
                class="w-16 h-16 p-1"
              />
            </div>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-4">
            Tidak Memerlukan Listrik
          </h3>
          <p class="text-gray-600">
            Sistem kami bekerja tanpa memerlukan daya listrik, memastikan
            perlindungan kebakaran yang terus menerus.
          </p>
        </div>

        <!-- Card 2 -->
        <div
          class="p-6 bg-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition-all duration-300">
          <div class="flex justify-center mb-4">
            <div
              class="w-16 h-16 bg-blue-100 text-blue-600 rounded-full flex items-center justify-center">
              <Image
                src={JamProteksi}
                alt="Jam Proteksi"
                class="w-16 h-16 p-1"
              />
            </div>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-4">
            Proteksi Non-Stop
          </h3>
          <p class="text-gray-600">
            Sistem proteksi bekerja 24/7 tanpa henti, menjaga keamanan gedung
            Anda setiap saat.
          </p>
        </div>

        <!-- Card 3 -->
        <div
          class="p-6 bg-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition-all duration-300">
          <div class="flex justify-center mb-4">
            <div
              class="w-16 h-16 bg-blue-100 text-blue-600 rounded-full flex items-center justify-center">
              <Image src={Auto} alt="Auto" class="w-16 h-16 p-1" />
            </div>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-4">
            Pemadaman Otomatis
          </h3>
          <p class="text-gray-600">
            Sistem ini mampu mendeteksi kebakaran dan memadamkan api secara
            otomatis tanpa intervensi manusia.
          </p>
        </div>

        <!-- Card 4 -->
        <div
          class="p-6 bg-white rounded-lg shadow-lg hover:shadow-xl transform hover:-translate-y-2 transition-all duration-300">
          <div class="flex justify-center mb-4">
            <div
              class="w-16 h-16 bg-blue-100 text-blue-600 rounded-full flex items-center justify-center">
              <Image
                src={MinimPerawatan}
                alt="Minim Perawatan"
                class="w-16 h-16 p-1"
              />
            </div>
          </div>
          <h3 class="text-xl font-semibold text-gray-800 mb-4">
            Minim Perawatan
          </h3>
          <p class="text-gray-600">
            Dengan desain yang canggih, sistem ini membutuhkan perawatan yang
            minimal namun tetap efektif.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Bagian Fitur Fire System -->
  <section
    class="relative overflow-hidden pb-16 pt-20 sm:pb-20 sm:pt-32 lg:pb-24 xl:pb-32 xl:pt-40">
    <div class="relative z-10">
      <div
        class="absolute inset-x-0 top-1/2 -z-10 flex -translate-y-1/2 justify-center overflow-hidden [mask-image:radial-gradient(50%_45%_at_50%_55%,white,transparent)]">
        <svg
          class="h-[60rem] w-[100rem] flex-none stroke-blue-600 opacity-10"
          aria-hidden="true">
          <defs>
            <pattern
              id="pattern"
              width="200"
              height="200"
              x="50%"
              y="50%"
              patternUnits="userSpaceOnUse"
              patternTransform="translate(-100 0)">
              <path d="M.5 200V.5H200" fill="none"></path>
            </pattern>
          </defs>
          <svg x="50%" y="50%" class="overflow-visible fill-blue-50">
            <path
              d="M-300 0h201v201h-201Z M300 200h201v201h-201Z"
              stroke-width="0"></path>
          </svg>
          <rect width="100%" height="100%" stroke-width="0" fill="url(#pattern)"
          ></rect>
        </svg>
      </div>
    </div>

    <div class="relative z-20 mx-auto max-w-7xl px-8 lg:px-16">
      <!-- Bagian 1: In-Rack Fire System -->
      <div
        class="flex flex-col lg:flex-row items-center mb-16 bg-gradient-to-r from-blue-50 to-white py-16 px-8 lg:px-12 rounded-xl shadow-lg">
        <div class="w-full lg:w-1/2">
          <Image
            src={InRackFireSystem}
            class="w-full rounded-2xl shadow-lg transform hover:scale-105 transition duration-500 ease-in-out"
            alt="In-Rack Fire System"
          />
        </div>
        <div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:pl-10">
          <h2 class="text-3xl font-semibold text-gray-900">
            In-Rack Fire System
          </h2>
          <p class="mt-4 text-md leading-7 text-gray-600">
            Perlindungan tepat untuk aset berharga seperti rak data center.
            Efisien, cepat, dan handal dalam situasi darurat.
          </p>
          <div class="flex mt-6">
            <a
              href="https://wa.me/6287787500580?text=Hallo%20Tigrisfire,%20Saya%20mau%20Konsultasi%20In-Rack%20Fire%20System"
              class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-500"
              >Konsultasikan Ini</a
            >
           
          </div>
        </div>
      </div>

      <!-- Bagian 2: Total Flooding Fire System -->
      <div
        class="flex flex-col-reverse lg:flex-row items-center mb-16 bg-gradient-to-r from-white to-blue-50 py-16 px-8 lg:px-12 rounded-xl shadow-lg">
        <div class="w-full lg:w-1/2 mt-8 lg:mt-0 lg:pr-10">
          <h2 class="text-3xl font-semibold text-gray-900">
            Total Flooding Fire System
          </h2>
          <p class="mt-4 text-md leading-7 text-gray-600">
            Pastikan keamanan maksimal dari ancaman kebakaran untuk seluruh
            ruangan dengan sistem pemadam otomatis yang canggih.
          </p>
          <div class="flex mt-6">
            <a
              href="https://wa.me/6287787500580?text=Hallo%20Tigrisfire,%20Saya%20mau%20Konsultasi%20Total%20Flooding%20Fire%20System"
              class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-500"
              >Konsultasi ini</a
            >
           
          </div>
        </div>
        <div class="w-full lg:w-1/2">
          <Image
            src={TotalFlooding}
            class="w-full rounded-2xl shadow-lg transform hover:scale-105 transition duration-500 ease-in-out"
            alt="Total Flooding"
          />
        </div>
      </div>
    </div>
  </section>

  <!--tempat bisa -->
  <section class="md:px-40 text-center mt-20 mb-11">
    <p
      class="text-4xl font-semibold text-blue-600 mb-8 border-b-4 border-blue-500 inline-block pb-2">
      Terasa Aman Dimanapun
    </p>
    <p>
      Penggunaan di berbagai tempat seperti bandara, stasiun, pusat
      perbelanjaan, bioskop, museum, gudang, dan pusat distribusi untuk
      memastikan keamanan dan manajemen perlindungan kebakaran yang optimal.
    </p>
    <div class="grid grid-cols-subgrid md:grid-cols-3 gap-4 mt-10 md:px-40 p-1">
      <div>
        <Image
          src={Bandara}
          alt="Bandara"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
      <div>
        <Image
          src={Bioskop}
          alt="Bioskop"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
      <div>
        <Image
          src={BussinesCenterMall}
          alt="Business Center Mall"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
      <div>
        <Image
          src={GudangLogistik}
          alt="Gudang Logistik"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
      <div>
        <Image src={Museum} alt="Museum" class="h-auto max-w-full rounded-lg" />
      </div>
      <div>
        <Image
          src={Perusahaan}
          alt="Perusahaan"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
      <div>
        <Image
          src={Stasiun}
          alt="Stasiun"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
      <div>
        <Image
          src={Supermarket}
          alt="Supermarket"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
      <div>
        <Image
          src={Terminal}
          alt="Terminal"
          class="h-auto max-w-full rounded-lg"
        />
      </div>
    </div>
  </section>
</BaseLayout>
